
@import "reset.css";
@import "canvas.css";
@import "settings.css";

html,body {
    height: 100%;
    width: 100%;
}

html {
    background-color: #ddd;
    font: 14px bold monospace, "Ubuntu Mono";
}
